
.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width:1100px
}

.social-icon {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
}